* {
    box-sizing: border-box;
}

.webglCanvas {
    width: 100%;
    cursor: pointer;
}

.app {
    display: flex;
    justify-content: center;
}

.app > .left {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.app > .right {
    flex: 0 1 25%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}
.app > .center {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    flex: 0 1 40vw;
    height: 40vw;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.inputList , .outputList {
    display: flex;
    flex-direction: column;
    background-color: #f6f6f6;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 0.4em;
    min-width: 15em;
}

.inputListHeader , .outputListHeader {
    margin: 0px 0px 10px 10px;
    font-weight: bold;
}

.inputBox , .outputBox {
    margin: 2px;
    min-width: 10vw;
}

.inputHeader , .outputHeader {
    float: left;
}

.inputValue {
    float: right;
    border-radius: 3px;
    vertical-align: middle; 
}

.outputValue {
    float: right;
}

.ui-tooltip-content {
    font-size: small;
}