* {
    box-sizing: border-box;
}

body {
    background-color: #f0f5fc;
}

.webglCanvas {
    width: 100%;
    cursor: pointer;
}

.wrapper {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 5em;
    font-weight: 400;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    border: 2px solid;
    border-radius: 10px;
    text-align: center;
    margin: 5px;
}

.footer {
    color: rgb(196, 196, 196);
}

.app {
    display: flex;
    justify-content: center;
}

.app > .left {
    flex: 0 1 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 10px;
}

.app > .right {
    flex: 0 1 15vw;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 10px
}
.app > .center {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    flex: 0 1 40vw;
    height: 40vw;
    padding: 10px;
    border: 3px solid black;
    border-radius: 10px;
}

.inputList , .outputList {
    display: flex;
    flex-direction: column;
    background-color: #d7e7f7;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 0.4em;
    min-width: 15em;
    width: 100%;
}

.inputListHeader , .outputListHeader {
    margin: 0px 0px 10px 10px;
    font-weight: bold;
}

.inputBox , .outputBox {
    margin: 2px;
    min-width: 10vw;
}

.inputHeader , .outputHeader {
    float: left;
}

.inputValue {
    float: right;
    border-radius: 3px;
    vertical-align: middle; 
}

.outputValue {
    float: right;
}

.ui-tooltip-content {
    font-size: small;
}

.ui-widget {
    font-size: 1em;
}

.input-type.ui-button {
    width: 50%;
}