* {
    box-sizing: border-box;
}

body {
    background-color: #f0f5fc;
}

.webglCanvas {
    width: 100%;
    cursor: pointer;
    z-index: 1;
}

.wrapper {
    width: 70vw;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.header {
    width: 100%;
    height: 5em;
    font-weight: 400;
    font-family: "Droid Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 5px;
}

.footer {
    color: rgb(196, 196, 196);
}

.app {
    display: flex;
    justify-content: center;
}

.app > .left , .app > .right {
    flex: 0 1 15vw;
    display: flex;
    flex-direction: column;
    padding: 10px;
    border-top: 0px;
}

/*borders*/
.app > .left , .app > .center , .app > .right , .header {
    border: 2px solid grey;
    border-radius: 4px;
}

.app > .left , .app > .center , .app > .right {
    border-top: 0px;
}


.app > .left {
    align-items: flex-end;
    border-right: 0px;
}

.app > .right {
    align-items: flex-start;
    border-left: 0px;
}

.app > .center {
    display: flex;
    justify-content: center;
    background-color: #f6f6f6;
    flex: 0 1 40vw;
    height: 40vw;
    padding: 10px;
    position: relative;
}

.progress {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: limegreen;
    height: 0;
    z-index: 0;
}

.inputList , .outputList {
    display: flex;
    flex-direction: column;
    background-color: #d7e7f7;
    border-radius: 0.5em;
    padding: 0.4em;
    margin: 0.4em 0;
    min-width: 15em;
    width: 100%;
}

.inputListHeader , .outputListHeader {
    margin: 0px 0px 10px 10px;
    font-weight: bold;
}

.inputBox , .outputBox {
    margin: 2px;
    min-width: 10vw;
}

.inputHeader , .outputHeader {
    float: left;
}

.inputValue {
    float: right;
    vertical-align: middle; 
}

.outputValue {
    float: right;
}

.ui-tooltip-content {
    font-size: small;
}

.ui-widget {
    font-size: 1em;
}

.left > .ui-buttonset {
    margin-right: 0;
}

.input-type.ui-button {
    width: 50%;
}